..jumbotron {
    margin-bottom: 0;
}
main .row:first-child > div:first-child{
    background-color: ivory;
}
main .row:first-child > div:last-child {
    background-color: AliceBlue;
}

article {
    background-color: ivory;
    margin: 0;
    padding: 0;
}
aside {
    background-color: AliceBlue;
    margin: 0;
    padding: 0;
}

footer {
    color: white;
    background-color: LightSlateGray;
    padding: 25px 0;
}

.custom {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px){
    body {
        background-color: blue;
    }
}